* { 
margin: 0;
padding: 0;
} 

body { 
margin: 0;
background: #000000;

}

#kop { 
height: 300px;
margin: 0 left;
background-color: white;
} 

#img { 
height: auto;
max-width: 100%;
}



