* { 
margin: 0;
padding: 0;
} 

body { 
margin: 0;
background: #000000;

}

#kop { 
height: 300px;
margin: 0 left;
background-color: white;
} 

#img { 
height: auto;
max-width: 100%;
}

#kop p {
font-family: Verdana;
font-size: 12px;
font-weight: bold;
text-align: right;
margin: auto;
color: black;
font-variant: small-caps;
padding-bottom:1px solid black
padding-left:2px solid black
padding-right:2px solid black

}

